extends layout

block layout-content
 div.View
    h1.Banner Follow Your Crypto
    div.Message
      div.Title
        h3 API connection
        h1 Food For Devs
      span.Details Access the WEB 3 world
    div.NavButtons
          div.NavButton Just dive in!