block variables

doctype html

html
  head
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/static/css/style.css')
   
  body
    div#root
      block layout-content

    script(src='/js/bootstrap.min.js')
    script(src='/static/js/app.js')

           
