block variables

doctype html

html
  head
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
   
  body
    div#root
      block layout-content

    script(src='/js/bootstrap.min.js')
    script(src='/static/js/app.js')

           
